.body{
    
    background: linear-gradient(130deg,#03befc,#5e03fc,#8506b4,#ff22f0);
    animation: bread 5s ease infinite;
    
     background-size: 400% 400%; 
    }
     @keyframes bread{
            0% {background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%;   }
       
}
.h1{
    font-family:monospace;
    
    font-size: 40px;
    font: bolder;
    color: aliceblue;
    text-align: center;
    border-color: black;
    border: 2px;
    text-shadow: 2px 2px 2px black;
    
    
}
.h2{
    padding-top: 20px;
    font-family:monospace;
     
    font-size: 25px;
    font: bolder;
    color: white;
    text-align: center;
    border-color: black;
    border: 2px;
    text-shadow: 2px 2px 2px black;
    
}
.inputs{
 background-color: rgba(183, 187, 190, 0.488);
 padding-bottom: 10px;
 padding-top: 10px;
 width: 300px;
 margin-left: auto;
 margin-right:auto ;
 box-shadow: 0px 0px 15px 2px  black;
 
 border-radius: 15px;
 padding-bottom: 40px;
}
.input{
    background-color: #480465;
    border-color: aliceblue;
    border-radius: 2px;
    padding: 10px;
    border: 12px;
    border-radius: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    

}
.button{
    background-color: #2753f4;
    padding: 15px;
    padding-top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 25px;
    font-family: monospace;
    border: 2px 2px transparent;
    box-shadow: 1px 3px 6px 1px black;
}
.button:hover{
    background-color: #480465;
    border: 2px 2px white;
    border-color: white;
    overflow: hidden;
    transition: 1s;
}
.html{
    overflow: hidden;
}